<% if @book.errors.any? %>
    <div class="text-danger">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this obj from being saved:</h2>

      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<div>
  <h1>User info</h1>
  <%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg", size: "100x100" %>
<table class= "table">
  <tr>
    <th>name</th>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <th>introduction</th>
    <td><%= user.introduction %></td>
  </tr>
</table>
  <div class="mb-2">
          <td>
            <%= link_to edit_user_path(user.id) do %>
              <p class="btn btn-outline-secondary d-block  m-auto"><span class="fas fa-user-cog"></span></p>
            <% end %>
          </td>
  </div>

  <div>
   <h1>New book</h1>
   <%= form_with model: @book, local:true do |f| %>
   <h4>title</h4>
   <%= f.text_field :title, class: "form-control input-lg" %>
   <h4>Opinion</h4>
   <%= f.text_area :body, class: "form-control input-lg" %>
   <%= f.submit 'Create Book', class: "btn btn-success  d-block mt-3" %>
   <% end %>
  </div>
</div>