<div class= "row">

  <div class= "col-md-3 col-12 m-auto">
   <%= render 'users/list', user: @user %>
  </div>

  <div class= "col-md-8 offset-md-1 col-sm-12 col-12">
    <h1>Book detail</h1>
    <table class= "table">
      <tr>
        <td>
          <%= attachment_image_tag @bookselected.user, :profile_image, fallback: "no_image.jpg", size: "30x30" %>
          <P>
            <%= link_to user_path(@bookselected.user.id) do %>
              <%= @bookselected.user.name %>
            <% end %>
          <P>
        </td>
        <td>
          <%= link_to book_path(@bookselected) do %>
            <%= @bookselected.title %>
          <% end %>
        </td>
        <td><%= @bookselected.body %></td>

        <% if @bookselected.user == current_user %>
          <td>
            <%= link_to 'Edit', edit_book_path(@bookselected), class: "btn btn-success" %>
          </td>
          <td>
            <%= link_to 'Destroy', book_path(@bookselected), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %>
          </td>
        <% end %>
      </tr>
    </table>
  </div>
</div>


